@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import "variables";
@import "hamburger";
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 20%, rgba(218, 222, 212, 1) 60%);
}
.container{
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll; 
  
}

.section {
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section__firstPage {
  gap: 20px;

  #nameHeader {
    margin-top: 30px;

    #myName {
      font-size: 40px;
      font-family: 'Barlow Condensed', sans-serif;
      color: $primaryDark;

    }
  }

  #blobDiv {
    background-color: $DarkColor;
    display: flex;
    // position: sticky;
    // top: 0;
    justify-content: center;
    border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
    overflow: hidden;
    margin: 10px;
    width: 400px;

    #imgOfMe {
      width: 250px;
      height: 300px;
      padding: 15px;
      margin-bottom: -15px;
      box-shadow: 0 0 8px 8px $DarkColor inset;
    }
  }

}

.section__secondPage {
  background-color: $secondaryDark;

}

.section__thirdPage {
  background-color: $DarkColor;
}

.greenHeader {
  color: $primaryDark;
  font-size: 1.2em;

  .h2header {
    font-family: sans-serif;
  }
}